body {
 background-image: url("https://i.imgur.com/WJBONJk.jpg");
 }

.Registro {
  background-color: #ffffff;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 47rem 1rem 0rem;
  border-style: solid;
  border-color: #333333;
  border-width: thin;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #333333;
  }


.FormRent {
  background-color: #ffffff;
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem 10rem 0rem 10rem;
  border-style: solid;
  border-color: #333333;
  border-width: thin;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #333333;
  }

.FormRent h2{
  text-align: center;
 }

.Ayuda {
  background-color: #ffffff;
  padding: 1.5rem 2.2rem 1.5rem 2.2rem;
  margin: 0.7rem 1rem 0rem 1rem;
  border-style: solid;
  border-color: #333333;
  border-width: thin;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #333333;
  }

.Ayuda h2{
  text-align: center;
  }

.Buscar {
  background-color: #ffffff;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 47rem 1rem 0rem;
  border-style: solid;
  border-color: #333333;
  border-width: thin;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #333333;
  }

.Experiencia {
 background-image: url("https://i.imgur.com/gx1Zpt4.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 padding: 1rem 2rem 1rem 2rem;
 margin: 1rem 1rem 5rem 1rem;
 border-style: solid;
 border-color: #333333;
 border-width: thin;
 box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #333333;
 }




.container-show {
  margin: 2rem 0rem 0rem 0rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #ffffff;
  border-style: solid;
  border-color: #333333;
  border-width: thin;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #333333;
  }

.img-rent {
  width: 80%;
  height: 80%;
 }
 .index-rent {
   margin-top: 2rem;

  }
/*


 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
